# Set default behavior to automatically normalize line endings
* text=auto

# JavaScript files
*.js text eol=lf

# JSON files
*.json text eol=lf

# Markdown files
*.md text eol=lf

# Environment files
*.env text eol=lf
.env.* text eol=lf

# Git config files
.gitignore text eol=lf
.gitattributes text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary